<html lang="es">
	<head>
	  	<!-- Metadatos convencionales -->
	 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta name="Copyright" content="&copy; 2016-vn-group-05. Todos los Derechos Reservados." lang="es">
	 	<link rel="shortcut icon" href="/favicon.ico">
		<link href="/principal.css" rel="stylesheet" type="text/css" media="screen">
	 	<!-- Fin Metadatos convencionales -->
 	</head>
	<body>
		<!-- Contenidos -->
		<div class="contenido">
		<p class="banner"><marquee><strong>Bienvenidos al Administrador de POIS Ciudad de Buenos Aires</strong></marquee></p>
	  	
   		<ul class="redessociales">
 		 <li><g:plusone href="http://ddsutn.com.ar/"></g:plusone></li>
 		 <li id="face"><div id="fb-root"></div><script src="http://connect.facebook.net/es_ES/all.js#appId=128897243865016&amp;xfbml=1"></script><fb:like href="http://ddsutn.com.ar" send="false" layout="box_count" width="20px" show_faces="false" action="recommend" font="verdana"></fb:like></li>
  		</ul> 
  		
		<h2>Consulta de Puntos de Interes</h2>
		<form action="" >
		  <div class="row">
			  <div class="col-md-10">
				<div class="criterio"><input type="text" class="criterio" name="criterio"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" value="Consultar" class="submitcriterio" name="submitcriterio"></div>
			  </div>
		  </div>
		</form>
		
		
		
		<h2>Puntos de Interes</h2>
		
		
		
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
				
				<th>Id</th>
				<th>Nombre</th>
				<th>Calle</th>
				<th>Altura</th>
				<th>Comuna</th>
				<th>Rubro </th>
				<th>Nombre</th>
				<th>Linea</th>
				
			{{#todosLosPois}}
				<tr>
					<td>{{id_Poi}}</td>
					<td>{{nombrePoi}}</td>
					<td>{{calle}}</td>
					<td>{{altura}}</td>
					<td>{{comuna.nroComuna}}</td>
					<td>{{rubro}}</td>
					<td>{{nombre}}</td>
					<td>{{numeroDeLinea}}</td>
				</tr>
			{{/todosLosPois}}				
			</table>
			</div>
			
			
		<h2>Terminales</h2>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
				<th>Id</th>
				<th>Nombre</th>
				
				
			{{#terminales}}
				<tr>
					<td>{{id_Terminal}}</td>
					<td>{{nombreDeTerminal}}</td>
					
				</tr>
			{{/terminales}}				
			</table>
			
			
			</div>
			<div class="pull-right">
  				<ul class="boton"><a href="/terminal/new"><li class="nuevo">Nueva Terminal</li></a></ul>
			</div>
		
		<h2> Filtrar Historial </h2>
		<div class="criterio"><label for="terminal">Según la terminal: </label></div>
		
		<form action="" >
		  <div class="row">
			  <div class="col-md-10">
				<div class="criterio"><input type="text" class="terminal" name="terminal"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" value="Filtrar" class="submitcriterio" name="submitcriterio"></div>
			  </div>
		  </div>
		<div class="criterio"><label for="terminal">Según la cantidad de resultados: </label></div>
		
		<form action="" >
		  <div class="row">
			  <div class="col-md-10">
				<div class="criterio"><input type="text" class="result" name="result"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" value="Filtrar" class="submitcriterio" name="submitcriterio"></div>
			  </div>
		  </div>
		
		
		
		<h2>Historial de Busquedas</h2>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
				<th>Cantidad De Busquedas</th>
				<th>Dia de Busqueda</th>
				<th>Terminal</th>
				<th>Cantidad de Resultados</th>
				<th>Frase buscada</th>
				<th>Demora </th>
				<th>Cantidad de Resultados</th>
				
			{{#todasLasBusquedas}}
				<tr>
					<td>{{cantidadDeBusquedas}}</td>
					<td>{{diaDeLaBusqueda}}</td>
					<td>{{unaTerminal.nombreDeTerminal}}</td>
					<td>{{cantResultados}}</td>
					<td>{{fraseBuscada}}</td>
					<td>{{demoraDeBusqueda}}</td>
					<td>{{cantidadDeResultados}}</td>
				</tr>
			{{/todasLasBusquedas}}				
			</table>
			</div>
			
			<h2>Editar Punto de Interés</h2>
	<div class="criterio"><label for="editarID">ID: </label></div>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="editarID" name="editarID"></div>
			  </div>
				<br></br>
		  </div>
		</form>
		
	<div class="criterio"><label for="nombrePoi">Nombre: </label></div>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="nombrePoi" name="nombrePoi"></div>
			  </div>
				<br></br>
		  </div>
		</form>
		
	<div class="criterio"><label for="CallePoi">Calle: </label></div>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="CallePoi" name="CallePoi"></div>
			  </div>
				<br></br>
		  </div>
		</form>
		
	<div class="criterio"><label for="latitudPoi">Latitud: </label></div>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="latitudPoi" name="latitudPoi"></div>
			  </div>
				<br></br>
		  </div>
		</form>
		
	<div class="criterio"><label for="longitudPoi">Longitud: </label></div>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="longitudPoi" name="longitudPoi"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" class="submitcriterio" name="submitcriterio" value="Editar"></div>
			  </div>
		  </div>
		</form>
	
	<h2>Eliminar Punto de Interés</h2>
		<form action="" >
		  <div class="row">
			  <div class="col-md-11">
				<div class="criterio"><input type="text" class="eliminar" name="eliminar"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" class="submitcriterio" name="submitcriterio" value="Eliminar"></div>
			  </div>
		  </div>
		</form>
		
		
		<br></br>
		</div>
		</div>
		</div>
		<!-- Firma -->
		<address>&copy; 2016-vn-group-05. Todos los Derechos Reservados.
			<div id="codqr">
			<a href="http://qr.afip.gob.ar/?qr=LVhAnAwNKfDhoLX3JVGn6A,," target="_F960AFIPInfo"><img id="codqrimg" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
			</div>
			
		</address>	
	</body>
</html>
