<html>
 	<head>
  		<title>Tutorial: HelloWorld</title>
 	</head>
 	
	<body>
		
		<h1>Bienvenido {{usuario}} a la Terminal</h1>
		
		<h2>Criterio:</h2><input type="text" value="" name="criterio"/>
	    <a href="/terminal/show?criterio=galicia"><button>Buscar</button></a>
		
		<h1>Puntos de Interes</h1>
		
  		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#bancos}}
				<tr>
					<td>{{nombre}}</td>
				</tr>
			{{/bancos}}				
			</table>
			</div>
		</div>
		
		<h1>Historial de Busquedas</h1>
		<td>Por Fecha</td>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#busquedasPorFecha}} 
				<tr>
					<td>{{cantidadDeBusquedas}}</td>
					<td>{{diaDeLaBusqueda}}</td>
					
				</tr>
			{{/busquedasPorFecha}}				
			</table>
			</div>
		 
		<td>Por Terminal</td>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#busquedasPorTerminal}} 
				<tr>
					<td>{{unaTerminal.nombreDeTerminal}}</td>
					<td>{{cantResultados}}</td>
					
				</tr>
			{{/busquedasPorTerminal}}				
			</table>
		</div>
		
		<td>Por Busqueda</td>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#busquedasPorBusqueda}} 
				<tr>
					<td>{{fraseBuscada}}</td>
					<td>{{demoraDeBusqueda}}</td>
					<td>{{cantidadDeResultados}}</td>
					
					
					
				</tr>
			{{/busquedasPorBusqueda}}				
			</table>
		</div>
		
	</body>
</html>
