<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
	<head>
	  	<!-- Metadatos convencionales -->
	 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta name="Copyright" content="&copy; 2016-vn-group-05. Todos los Derechos Reservados." lang="es">
	 	<link rel="shortcut icon" href="/favicon.ico">
		<link href="/principal.css" rel="stylesheet" type="text/css" media="screen">
	 	<!-- Fin Metadatos convencionales -->
 	</head>
	<body>
	<!-- Contenidos -->
	<div class="contenido">
		<p class="banner"><marquee><strong>Bienvenido {{usuario}} al Sistema POIS Ciudad de Buenos Aires</strong></marquee></p>
	  	
   		<ul class="redessociales">
 		 <li><g:plusone href="http://ddsutn.com.ar/"></g:plusone></li>
 		 <li id="face"><div id="fb-root"></div><script src="http://connect.facebook.net/es_ES/all.js#appId=128897243865016&amp;xfbml=1"></script><fb:like href="http://ddsutn.com.ar" send="false" layout="box_count" width="20px" show_faces="false" action="recommend" font="verdana"></fb:like></li>
  		</ul> 
	
	
		<h2>Puntos de Interes</h2>
		<form action="/terminal/show" >
		  <div class="row">
			  <div class="col-md-10">
				<div class="criterio"><input type="text" class="criterio" name="criterio"></div>
			  </div>
				<br></br>
			  <div class="col-md-2">
				<div class="submitcriterio">  <input type="submit" class="submitcriterio" name="submitcriterio"></div>
			  </div>
		  </div>
		</form>

		<h2>Puntos de Interes</h2>
		
		
		
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
				<td>Id</td>
				<td>Nombre</td>
				<td>Calle</td>
				<td>Altura</td>
				<td>Comuna</td>
				<td>Rubro </td>
				<td>Nombre</td>
				<td>Linea</td>
				</hr>
			{{#todosLosPois}}
				<tr>
					<td>{{id_Poi}}</td>
					<td>{{nombrePoi}}</td>
					<td>{{calle}}</td>
					<td>{{altura}}</td>
					<td>{{comuna.nroComuna}}</td>
					<td>{{rubro}}</td>
					<td>{{nombre}}</td>
					<td>{{numeroDeLinea}}</td>
				</tr>
			{{/todosLosPois}}				
			</table>
			</div>
		</div>
		
		<h2>Historial de Busquedas</h2>
		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
				<td>Cantidad De Busquedas</td>
				<td>Dia de Busqueda</td>
				<td>Terminal</td>
				<td>Cantidad de Resultados</td>
				<td>Frase buscada</td>
				<td>Demora </td>
				<td>Cantidad de Resultados</td>
				</hr>
			{{#todasLasBusquedas}}
				<tr>
					<td>{{cantidadDeBusquedas}}</td>
					<td>{{diaDeLaBusqueda}}</td>
					<td>{{unaTerminal.nombreDeTerminal}}</td>
					<td>{{cantResultados}}</td>
					<td>{{fraseBuscada}}</td>
					<td>{{demoraDeBusqueda}}</td>
					<td>{{cantidadDeResultados}}</td>
				</tr>
			{{/todasLasBusquedas}}				
			</table>
			</div>
	<br></br>
	<br></br>
		
	</div>	
	</div>
	<!-- Fin de Contenidos -->

	<!-- Firma -->
	<address>&copy; 2016-vn-group-05. Todos los Derechos Reservados.
		<div id="codqr">
		<a href="http://qr.afip.gob.ar/?qr=LVhAnAwNKfDhoLX3JVGn6A,," target="_F960AFIPInfo"><img id="codqrimg" src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0"></a>
		</div>
		
	</address>	
		
	</body>
</html>
